<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.7/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://kit.fontawesome.com/5442a2e73b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../assets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-center">
                <span class="uk-navbar-item uk-logo uk-navbar-center" id="navBrand">My Team</span>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s6 m4 l4">
                    <div class="card grey lighten-4 uk-card-hover">
                        <div class="card-content">
                            <div>
                                <i class="fas fa-user-tie fa-3x" id="titleIcon"></i>
                            </div>
                            <div class="cardName">
                                <span class="card-title">Name</span>
                                <p class="uk-text-meta uk-margin-remove-top">Manager</p>
                            </div>
                            <br>
                            <p>ID:</p>
                            <p>Office Number:</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Email?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>